.btn {
  user-select: none;
  font-size: 16px;
  transition: var(--transition);
  cursor: pointer;
  @include center;

  &--primary {
    padding: 0 15px;
    height: 40px;
    min-width: 300px;
    color: #000;
    background: #fff;
  }

  &--secondary {
    gap: 10px;

    svg {
      transition: var(--transition);
    }

    &:hover {
      svg {
        transform: translateX(5px);
      }
    }
  }
}
