<TheSection name="about">
  <Col>
    <H3>Наталья Бочина</H3>
    <P>дизайнер интерьеров и основатель собственной студии BN INTERIOR</P>
    <P>
      Влюблена в дизайн и архитектуру. Более 10 лет проектирую жилые
      и общественные интерьеры. Реализую интерьеры в различных стилях и ценовом
      сегменте.
    </P>
    <Button type="link" to="/about" variant="secondary">
      перейти на страницу о компании
    </Button>
  </Col>
  <Col>
    <Img name="about__img" src="natalya.png">
      <div
        class="about__img-play"
        data-fancybox="about"
        data-src="https://youtu.be/WYaxCN5Gj7k?si=Xt-MiFFOwKbGjeed"
      >
        <svg
          width="82"
          height="82"
          viewBox="0 0 82 82"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="41" cy="41" r="41" fill="#E9E9E9" fill-opacity="0.65"
          ></circle>
          <circle cx="41" cy="41" r="35" fill="#E9E9E9" fill-opacity="0.65"
          ></circle>
          <path d="M54 40.5L35.25 51.3253L35.25 29.6747L54 40.5Z" fill="#232B12"
          ></path>
        </svg>
        <div class="text-sm text-center">
          Посмотрите видео про меня <br /> и мою работу
        </div>
      </div>
    </Img>
  </Col>
  <Col>
    <H4 ui="text-gray uppercase">ОБО МНЕ</H4>
    <P>Большой опыт взаимодействия с поставщиками и подрядчиками;</P>
    <P>Следую трендам в дизайне интерьера, но с учетом пожеланий заказчика;</P>
    <P>Веду проекты от планирования до декорирования пространства.</P>
  </Col>
</TheSection>
