<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <H3>ГОТОВЫ СДЕЛАТЬ ИНТЕРЬЕР ВАШЕЙ МЕЧТЫ?</H3>
      <H4>Просто заполните бриф или напишите мне в What's App</H4>
      <Row>
        <a href="#" class="text-xl">ЗАПОЛНИТЬ БРИФ</a>
        <Button type="link" to="#" variant="secondary">НАПИСАТЬ МНЕ</Button>
      </Row>
    </div>
  </div>
  <div class="footer__body">
    <div class="container">
      <Col ui="text-h4">
        <div class="uppercase">СТУДИЯ ДИЗАЙНА ИНТЕРЬЕРА BN INTERIOR</div>
        <span>
          Адрес студии: г. Санкт-Петербург, <br />
          пр. Юрия Гагарина, д.7, помещение 54Н
        </span>
        <a class="underline" href="mailto:bochina.interior@gmail.com">
          bochina.interior@gmail.com
        </a>
        <a class="underline" href="tel:+79602525597">+7(960) 252-55-97</a>
      </Col>
      <Col ui="text-h4">
        <div class="uppercase">МОИ СОЦСЕТИ</div>
        <Row>
          <a
            class="underline"
            href="https://www.houzz.ru/professionaly/dizaynery-interyera/bochina-interior-pfvwru-pf~1512582962"
          >
            Houzz
          </a>
          <a class="underline" href="https://wa.me/79602525597"> Whats App</a>
          <a
            class="underline"
            href="https://www.instagram.com/bn_spb_interior?igshid=YmMyMTA2M2Y%3D"
          >
            Inst*
          </a>
        </Row>
      </Col>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container text-gray">
      <Col>
        ИП Бочина Наталья Валерьевна <br />
        ИНН: 602709199570 <br />
        ОГРН: 321784700043106 <br />
        © BN interior. Все права защищены, 2022 г. <br />
        <a href="/privacy" class="underline">Политика обработки данных</a>
      </Col>
      <Col>
        Inst* — организация признана экстремисткой и запрещена на территории РФ
      </Col>
    </div>
  </div>
</footer>
