---
import { posts } from "../index.store";
---

<App title="Блог">
  <!-- TheBlog -->
  <TheSection name="blog">
    {
      posts.map((post) => (
        <a href={post.link} class="blog__post">
          <Img src={post.img} only />
          <div class="blog__post-info">
            <div class="sm:text-xl">{post.date}</div>
            <H3>{post.title}</H3>
          </div>
        </a>
      ))
    }
  </TheSection>
</App>
