<App title="Контакты">
  <!-- TheHero -->
  <TheHero title="Контакты">
    <div id="yamap"></div>
  </TheHero>
  <!-- TheContacts -->
  <TheSection name="contacts">
    <H2 ui="font-futura">Студия Bochina Natalya Interior</H2>
    <Row>
      <ul class="text-h4">
        <li>ИП Бочина Наталья Валерьевна</li>
        <li><b>ИНН:</b> 602709199570</li>
        <li><b>ОГРН:</b> 321784700043106</li>
      </ul>
      <ul class="text-h4">
        <li>
          <b>Адрес студии в Санкт-Петербурге:</b><br />
          Пр. Юрия Гагарина, д.7, помещение 54Н
        </li>
      </ul>
    </Row>
    <Row>
      <ul class="text-h4">
        <li>
          <b>E-mail:</b>
          <a href="mailto:bochina.interior@gmail.com">
            bochina.interior@gmail.com
          </a>
        </li>
        <li><b>Тел:</b> <a href="tel:+89602525597">8(960) 252-55-97</a></li>
      </ul>
      <ul class="text-h4">
        <li>
          <b>Часы работы студии:</b><br />
          Пн-Пт: с 10:00 до 19:00 <br /> Сб-Вс: по договоренности
        </li>
      </ul>
    </Row>
  </TheSection>
</App>
