---
import { projects } from "../index.store";
---

<App title="Страница проекта">
  <!-- TheIntro -->
  <TheIntro>
    <H2>Квартира в ЖК Крестовский De Luxe (Санкт-Петербург)</H2>
    <H4>120 м²</H4>
  </TheIntro>
  <!-- TheProject -->
  <TheSection name="project">
    <H2 ui="font-futura">Описание проекта</H2>
    <div class="project__details">
      <div class="project__details-item">
        <Img src="icons/area.svg" />
        <H4>120 м²</H4>
      </div>
      <div class="project__details-item">
        <Img src="icons/marker-plus.svg" />
        <H4>Санкт-Петербург</H4>
      </div>
      <div class="project__details-item">
        <Img src="icons/design.svg" />
        <H4>Наталья Бочина</H4>
      </div>
    </div>
    <P>
      Однозначно, реплицированные с зарубежных источников, современные
      исследования призывают нас к новым свершениям, которые, в свою очередь,
      должны быть функционально разнесены на независимые элементы. В целом,
      конечно, существующая теория в значительной степени обусловливает важность
      благоприятных перспектив. Вот вам яркий пример современных тенденций —
      внедрение современных методик обеспечивает актуальность распределения
      внутренних резервов и ресурсов.
      <br /><br />
      Ясность нашей позиции очевидна: внедрение современных методик позволяет выполнить
      важные задания по разработке поэтапного и последовательного развития общества.
      А также стремящиеся вытеснить традиционное производство, нанотехнологии неоднозначны
      и будут преданы социально-демократической анафеме. Учитывая ключевые сценарии
      поведения, повышение уровня гражданского сознания прекрасно подходит для реализации
      системы массового участия. Противоположная точка зрения подразумевает, что
      действия представителей оппозиции, превозмогая сложившуюся непростую экономическую
      ситуацию, смешаны с не уникальными данными до степени совершенной неузнаваемости,
      из-за чего возрастает их статус бесполезности. Прежде всего, курс на социально-ориентированный
      национальный проект способствует повышению качества новых принципов формирования
      материально-технической и кадровой базы.
      <br /><br />
      Лишь акционеры крупнейших компаний могут быть в равной степени предоставлены
      сами себе. Имеется спорная точка зрения, гласящая примерно следующее: базовые
      сценарии поведения пользователей будут обнародованы. Значимость этих проблем
      настолько очевидна, что выбранный нами инновационный путь не оставляет шанса
      для модели развития. Предварительные выводы неутешительны: экономическая повестка
      сегодняшнего дня однозначно фиксирует необходимость первоочередных требований.
      <br /><br />
      Учитывая ключевые сценарии поведения, современная методология разработки играет
      определяющее значение для прогресса профессионального сообщества. Идейные соображения
      высшего порядка, а также базовый вектор развития не даёт нам иного выбора,
      кроме определения кластеризации усилий. С другой стороны, семантический разбор
      внешних противодействий однозначно фиксирует необходимость глубокомысленных
      рассуждений. Являясь всего лишь частью общей картины, явные признаки победы
      институционализации превращены в посмешище, хотя само их существование приносит
      несомненную пользу обществу. Идейные соображения высшего порядка, а также понимание
      сути ресурсосберегающих технологий предполагает независимые способы реализации
      позиций, занимаемых участниками в отношении поставленных задач.
      <br /><br />
      Однозначно, базовые сценарии поведения пользователей призывают нас к новым
      свершениям, которые, в свою очередь, должны быть обнародованы. Предварительные
      выводы неутешительны: постоянное информационно-пропагандистское обеспечение
      нашей деятельности играет определяющее значение для своевременного выполнения
      сверхзадачи.
    </P>
    <div class="project__images">
      {
        projects
          .slice(0, 7)
          .map((item) => (
            <Img
              src="projects/2.png"
              data-fancybox="portfolio"
              data-src="/assets/img/projects/2.png"
              only
            />
          ))
      }
    </div>
  </TheSection>
</App>
