---
import { service } from "../index.store";
---

<App title="Зачем нужна смета">
  <!-- TheHero -->
  <TheHero title="зачем нужна <br> смета">
    <Img src="services/3.png" only />
  </TheHero>
  <!-- ThePrices -->
  <TheSection name="prices">
    <P>
      Смета - исчерпывающий перечень всех предметов, использованных в
      дизайн-проекте, включая отделку, мебель, электрику и пр. Она позволяет
      рассчитать бюджет и запланировать расходы на реализацию будущего проекта.
      <br /><br />
      Все позиции сметы подбираются в соответствии с проектом и в рамках оговоренного
      бюджета. Кроме цены на выбор влияет качество, соответствие проекту, наличие
      товара, стоимость и сроки доставки. Каждая позиция обсуждается и утверждается
      заказчиком.
    </P>
  </TheSection>
  <!-- TheServiceIncluded -->
  <TheSection name="included">
    <H2 ui="font-futura">
      Смета содержит расчет для следующих позиций
    </H2>
    <ul class="included__list">
      {
        service.smeta.list.map((service) => (
          <li>
            <Img src={service.icon} />
            <Col>
              <H4>{service.title}</H4>
              <p class="text-sm sm:text-base">{service.desc}</p>
            </Col>
          </li>
        ))
      }
    </ul>
  </TheSection>
  <!-- TheService Advantages -->
  <TheAdvantages title="Зачем нужна смета" list={service.smeta.advantages} />
  <!-- TheWhy -->
  <TheSection name="why py">
    <H2 ui="font-futura">Почему смета это не список покупок?</H2>
    <P>
      Мы всегда стремимся создать максимально подробную и актуальную смету для
      каждого проекта. Но на этом этапе невозможно утвердить каждую позицию по
      объективным причинам. 
      <br />
      <br />
      Во первых, есть ряд позиций, которые можно выбирать только по выкрасам, раскладкам
      и образцам - колоры красок, текстуры, ткани и др. Если бы мы готовили образцы
      и выкрасы к каждой смете, то ее составление растянулась бы на несколько месяцев.
      Для этих позиций в смете указывается средняя рыночная стоимость.
      <br />
      <br />
      Во вторых, все позиции указанные в смете закупаются в соответствии с графиком
      строительных работ. От момента расчета до покупки может пройти от нескольких
      месяцев до года. За это время товар могут снять с производства, может существенно
      измениться цена, не подойдут сроки доставки и т.д. На этапе комплектации часть
      позиций всегда заменяется на аналоги в рамках общего бюджета.
    </P>
    <a href="#" class="btn btn--outline" download="">СКАЧАТЬ ПРИМЕР СМЕТЫ</a>
  </TheSection>
</App>
