// ** Blog ** //
.blog {
  margin-top: 60px;
  padding: 20px 0 50px;

  .container {
    column-count: 3;
    column-gap: 20px;
    @include space-y(20px);
  }

  &__post {
    position: relative;
    min-height: 285px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    display: block;

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-info {
      position: absolute;
      padding: 20px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #fff;
      transition: var(--transition);
      @include flex-col(flex-start, space-between, 20px);
    }

    .sm\:text-xl {
      padding: 6px 20px;
      border: 1px solid #fff;
    }

    .col {
      @include center(5px, column);
    }
  }

  &__post:nth-child(1),
  &__post:nth-child(4),
  &__post:nth-child(8),
  &__post:nth-child(11),
  &__post:nth-child(15),
  &__post:nth-child(18) {
    height: 830px;
  }
  &__post:nth-child(2),
  &__post:nth-child(5),
  &__post:nth-child(9),
  &__post:nth-child(12),
  &__post:nth-child(13),
  &__post:nth-child(16) {
    height: 600px;
  }
  &__post:nth-child(3),
  &__post:nth-child(6),
  &__post:nth-child(7),
  &__post:nth-child(10),
  &__post:nth-child(14),
  &__post:nth-child(17) {
    height: 285px;
  }

  @include media("3xl", min-width) {
    .text-h3 {
      font-size: 40px;
    }
  }
  @include media("3xl") {
    .text-h2 {
      font-size: 36px;
    }

    &__post:nth-child(1),
    &__post:nth-child(4),
    &__post:nth-child(8),
    &__post:nth-child(11),
    &__post:nth-child(15),
    &__post:nth-child(18) {
      height: 630px;
    }
    &__post:nth-child(2),
    &__post:nth-child(5),
    &__post:nth-child(9),
    &__post:nth-child(12),
    &__post:nth-child(13),
    &__post:nth-child(16) {
      height: 400px;
    }
  }
  @include media("xl") {
    .container {
      column-gap: 15px;
      @include space-y(15px);
    }

    &__post:nth-child(1),
    &__post:nth-child(4),
    &__post:nth-child(8),
    &__post:nth-child(11),
    &__post:nth-child(15),
    &__post:nth-child(18) {
      height: 500px;

      .blog__post-info {
        padding-bottom: 20px;
      }
    }
    &__post:nth-child(2),
    &__post:nth-child(5),
    &__post:nth-child(9),
    &__post:nth-child(12),
    &__post:nth-child(13),
    &__post:nth-child(16) {
      height: 400px;

      .blog__post-info {
        padding-bottom: 20px;
      }
    }
    &__post:nth-child(3),
    &__post:nth-child(6),
    &__post:nth-child(7),
    &__post:nth-child(10),
    &__post:nth-child(14),
    &__post:nth-child(17) {
      height: 285px;

      .blog__post-info {
        padding-bottom: 20px;
      }
    }
  }
  @include media("lg") {
    .container {
      column-count: 2;
    }
  }
  @include media("md") {
    &__post {
      height: auto !important;
    }
  }
  @include media("sm") {
    padding: 10px 0 30px;

    .container {
      column-gap: 10px;
    }

    .text-h2 {
      font-size: 24px;
    }

    &__post {
      max-height: 300px;

      &-info {
        padding: 10px !important;
      }

      .sm\:text-xl {
        padding: 5px 10px;
        top: 10px;
        left: 10px;
        min-width: auto;
      }
    }
  }
  @include media("xs") {
    .container {
      column-count: 1;
      column-gap: 10px;
      @include space-y(10px);
    }

    &__post {
      max-height: 280px;
    }
  }
}

// ** Post ** //
.post {
  padding: 65px 0;

  .container {
    @include start(column, 30px);
  }

  h2 {
    font-size: 56px;
    line-height: 130%;
    font-family: var(--font-futura);
    font-weight: 300;
  }

  p {
    font-size: 24px;
  }

  @include media("xl") {
    .container {
      gap: 20px;
    }

    h2 {
      font-size: 48px;
      line-height: 110%;
    }
    p {
      font-size: 20px;
    }
  }
  @include media("lg") {
    padding: 40px 0;

    .container {
      gap: 30px;
    }

    h2 {
      font-size: 36px;
    }
  }
  @include media("sm") {
    padding: 25px 0 30px;

    .container {
      gap: 15px;
    }

    h2 {
      font-size: 32px;
    }

    p {
      font-size: 18px;
    }
  }
}
