.intro {
  position: relative;
  margin-top: 60px;
  padding-bottom: 30px;
  height: 100vh;
  max-height: 885px;
  color: #fff;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .container {
    position: relative;
    height: 100%;
    text-align: center;
    @include flex-col(center, flex-end);
  }

  .btn--contact {
    position: absolute;
    bottom: 90px;
    right: 0;
  }
}

// @include show(".hero");
